/*!
Theme Name: ihag
Theme URI: https://underscores.me/
Author: Automattic
Author URI: https://automattic.com/
Description: Hi. I'm a starter theme called <code>_s</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.3.3
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: ihag
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

_s is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/@font-face{font-family:Icons;src:url(/wp-content/themes/GLF/assets/fonts/burger.woff) format("woff");font-weight:400}@font-face{font-family:Carlson;src:url(/wp-content/themes/GLF/assets/fonts/Caslon224Std-Bold.woff2) format("woff2");font-weight:700}@font-face{font-family:Carlson;src:url(/wp-content/themes/GLF/assets/fonts/Caslon224Std-Book.woff2) format("woff2");font-weight:400}@font-face{font-family:Carlson;src:url(/wp-content/themes/GLF/assets/fonts/Caslon224Std-MediumItalic.woff2) format("woff2");font-weight:400;font-style:italic}/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:0.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace, monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace, monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:0.35em 0.75em 0.625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}*,*::before,*::after{box-sizing:inherit}html{box-sizing:border-box}body,button,input,select,optgroup,textarea{color:#000;font-family:Carlson,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:1rem;font-weight:400;line-height:1.5}body p,button p,input p,select p,optgroup p,textarea p{line-height:20px}body p.is-style-source,button p.is-style-source,input p.is-style-source,select p.is-style-source,optgroup p.is-style-source,textarea p.is-style-source{font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:8px;line-height:12px;margin-top:0.25rem}h1,h2,h3,h4,h5,h6{clear:both}h1{font-family:Carlson;font-weight:700;font-size:2.75rem;position:relative;line-height:46px}h1.is-style-logo-left::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme.svg);background-repeat:no-repeat;background-size:contain;position:absolute;left:0;height:135%;aspect-ratio:32 / 43;top:50%;transform:translate(calc(-100% - 1rem), -50%)}h2{font-family:Carlson;font-weight:700;font-size:2rem;line-height:36px}h3,.h3-like{font-family:Carlson;font-weight:700;font-size:1.5rem;line-height:24px}.wp-block-group.has-background>h2{padding:0.5rem 0}.entry-content>h1{width:fit-content}@media screen and (max-width: 800px){.entry-content>h1.is-style-logo-left{margin-left:auto !important}.entry-content>h1.is-style-logo-left::before{max-height:72px;transform:translate(-0.75rem, -50%)}h1{font-size:1.375rem;line-height:1.2}h1.is-style-logo-left{margin-left:3rem !important}h1.is-style-logo-left::before{max-height:72px;transform:translate(calc(-100% + -0.5rem), -50%)}h2{font-size:1.25rem;line-height:1.2}h3{font-size:1.125rem;line-height:1.2}}p{margin-bottom:1.5em}dfn,cite,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",courier,monospace;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:monaco,consolas,"Andale Mono","DejaVu Sans Mono",monospace}abbr,acronym{border-bottom:1px dotted #666;cursor:help}mark,ins{background:#fff9c0;text-decoration:none}big{font-size:125%}body{background:#fff}main{margin:0}header{z-index:1}iframe{min-height:1300px;height:100% !important}.link-card-blog{text-decoration:none;color:#000;padding:2.5rem;border:#000 1px solid;transition:background-color 0.2s ease;max-width:calc((1000px - 2rem) / 3);box-sizing:border-box}.link-card-blog:hover{background-color:rgba(255,255,255,0.5)}.link-card-blog *{text-decoration:none;box-sizing:border-box}.link-card-blog h3{position:relative}.link-card-blog h3::after{content:"";background:url(/wp-content/themes/GLF/assets/images/blog-title-arrow.svg);position:absolute;width:8px;aspect-ratio:5 / 10;background-size:contain;background-repeat:no-repeat;bottom:-4px;transform:translate(0.75rem, -50%)}@media screen and (max-width: 800px){.link-card-blog h3::after{top:initial;bottom:-4px}}.archive .link-card-blog:hover{background-color:rgba(252,218,198,0.5)}.is-style-card-values .wp-block-column{padding:0 2rem}.is-style-card-values .wp-block-column figure{height:70px;text-align:center;aspect-ratio:1;margin:0 auto}.is-style-card-values .wp-block-column figure img{width:auto;height:70px}.is-style-card-values .wp-block-column h3{margin:2.25rem 0 1.75rem 0}.is-style-card-values .wp-block-column p{margin-block-start:0}@media screen and (max-width: 800px){.is-style-card-values .wp-block-column:not(:last-child){padding-bottom:2rem}.is-style-card-values .wp-block-column h3{margin:1rem 0 0.75rem 0}}.team-card{position:relative;height:100%}.team-card h3{margin-block-start:0.5rem;margin-block-end:0.5rem}@media screen and (max-width: 800px){.team-card h3{margin-block-end:0}}.team-card p{position:absolute;bottom:0;transform:translate(0, 100%);margin-block-start:0;font-family:Verdana, sans-serif;font-size:12px;color:#5f5f5f;text-align:center;width:100%;line-height:1.25}article.type-artists{text-align:center}article.type-artists h3:first-of-type{margin-top:0.25rem;margin-bottom:0}article.type-artists h3:last-of-type{margin-top:0;text-transform:uppercase}.ressource-card{display:flex;padding:1rem;gap:1.5rem;margin-bottom:1.5rem;transition:background-color 0.2s ease;position:relative}.ressource-card *{margin:0;box-sizing:border-box}.ressource-card::before{content:"";position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%;background-color:rgba(255,255,255,0);transition:all 0.2s ease}.ressource-card figure{flex-shrink:0;line-height:0;display:grid;place-items:center;width:135px;aspect-ratio:1;z-index:2}.ressource-card .content{z-index:2;flex-basis:100%;padding-bottom:20px;position:relative}.ressource-card .content h3{position:relative}.ressource-card .content h3::after{content:"";background:url(/wp-content/themes/GLF/assets/images/blog-title-arrow.svg);position:absolute;width:8px;aspect-ratio:5 / 10;background-size:contain;background-repeat:no-repeat;top:50%;transform:translate(0.75rem, -50%)}.ressource-card .content p:not(.is-style-link){margin-top:0.75rem;max-width:80%}.ressource-card .content .is-style-link{position:absolute;bottom:-0.25rem;left:0}.ressource-card:hover::before{background-color:rgba(255,255,255,0.4)}.ressource-card:hover p.is-style-link{color:#000}.ressource-card:hover p.is-style-link::after{transform:translate(1rem, -50%);filter:brightness(0)}@media screen and (max-width: 800px){.ressource-card{flex-direction:column}.ressource-card figure{margin:0 auto}.ressource-card .content{padding-bottom:0}.ressource-card .content .is-style-link{position:relative;margin-right:3rem}}.card-accompagnements .wp-block-columns:first-child{margin-bottom:0}.card-accompagnements .wp-block-columns:last-of-type .wp-block-column:last-of-type>.wp-block-group:last-of-type{padding-bottom:6rem}.card-accompagnements .wp-block-columns .wp-block-column>.wp-block-group{height:100%;position:relative;padding-bottom:4rem}.card-accompagnements .wp-block-columns .wp-block-column>.wp-block-group>*:last-child{bottom:1rem;position:absolute}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}.is-style-logo-topright{position:relative}.is-style-logo-topright::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);background-repeat:no-repeat;background-size:contain;position:absolute;right:-5rem;width:9rem;aspect-ratio:1;top:-2.5rem}@media screen and (max-width: 800px){.is-style-logo-topright::before{content:none}}.is-style-logo-outtopright{position:relative}.is-style-logo-outtopright::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);background-repeat:no-repeat;background-size:contain;position:absolute;right:0;width:9rem;aspect-ratio:1;top:0;transform:translate(120%, -50%)}@media screen and (max-width: 800px){.is-style-logo-outtopright::before{content:none}}@media screen and (max-width: 800px){.col-padd{padding:1rem}}.wp-block-column.is-style-bg-logo-text-img{position:relative;background-color:transparent !important;height:fit-content;margin-top:5rem;padding:0 4rem;margin-bottom:2rem}.wp-block-column.is-style-bg-logo-text-img::after{content:"";position:absolute;z-index:-1;left:-30%;right:-2rem;top:-3rem;bottom:-2rem;background-color:#fdeaa5}.wp-block-column.is-style-bg-logo-text-img::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);background-repeat:no-repeat;background-size:contain;position:absolute;right:0;top:0;width:9rem;aspect-ratio:1;transform:translate(56%, -70%)}@media screen and (max-width: 800px){.wp-block-column.is-style-bg-logo-text-img{height:initial;margin-top:unset;padding:unset;margin-bottom:unset;position:initial}.wp-block-column.is-style-bg-logo-text-img::after{left:0;right:0;top:0;bottom:0}.wp-block-column.is-style-bg-logo-text-img::before{top:20px;right:2rem;width:6rem}}.wp-block-column.is-style-bg-logo-text-img.has-color-yellow-background-color::after{background-color:#fdeaa5}.wp-block-column.is-style-bg-logo-text-img.has-color-salmon-background-color::after{background-color:#fcdac6}.wp-block-column.is-style-bg-logo-text-img.has-color-green-background-color::after{background-color:#c0d3c8}.wp-block-column.is-style-bg-logo-text-img.has-color-lightgreen-background-color::after{background-color:#c3e1d0}.wp-block-column.is-style-bg-logo-text-img.has-color-darkyellow-background-color::after{background-color:#cdcd9b}.wp-block-column.is-style-bg-logo-text-img.has-color-blue-background-color::after{background-color:#cae7ea}.is-style-project-right{min-height:calc(600px + 2rem);margin-top:3rem !important;padding-top:2rem;background-color:transparent !important}.is-style-project-right.has-color-yellow-background-color .wp-block-group::after{background-color:#fdeaa5}.is-style-project-right.has-color-salmon-background-color .wp-block-group::after{background-color:#fcdac6}.is-style-project-right.has-color-green-background-color .wp-block-group::after{background-color:#c0d3c8}.is-style-project-right.has-color-lightgreen-background-color .wp-block-group::after{background-color:#c3e1d0}.is-style-project-right.has-color-darkyellow-background-color .wp-block-group::after{background-color:#cdcd9b}.is-style-project-right.has-color-blue-background-color .wp-block-group::after{background-color:#cae7ea}.is-style-project-right>.wp-block-group{height:fit-content;position:relative}@media screen and (max-width: 800px){.is-style-project-right>.wp-block-group{padding:1rem}}.is-style-project-right>.wp-block-group::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);background-repeat:no-repeat;background-size:contain;position:absolute;right:0;top:0;width:9rem;aspect-ratio:1;transform:translate(56%, -60%)}@media screen and (max-width: 800px){.is-style-project-right>.wp-block-group::before{width:6rem;top:-1rem;right:2rem}}.is-style-project-right>.wp-block-group>h3{margin-top:0}@media screen and (max-width: 800px){.is-style-project-right>.wp-block-group .wp-block-columns{margin-block-start:0}}.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1){position:relative}.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1) figure{position:absolute}@media screen and (max-width: 800px){.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1) figure{position:relative;max-width:80%;margin:0 auto}}.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2){padding:0 2rem}@media screen and (max-width: 800px){.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2){padding:0}}.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2) p:last-child{margin:5rem 0 1rem}@media screen and (max-width: 800px){.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2) p:last-child{margin:2rem 0}}.is-style-project-right>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2) p.is-style-link{line-height:1.6;text-align:left}.is-style-project-right>.wp-block-group::after{content:"";position:absolute;z-index:-1;left:4rem;right:-2rem;top:-2rem;bottom:-4rem;background-color:#fdeaa5}@media screen and (max-width: 800px){.is-style-project-right>.wp-block-group::after{left:0;right:0;bottom:0;top:0}}.is-style-project-left{min-height:calc(600px + 2rem);background-color:transparent !important}@media screen and (max-width: 800px){.is-style-project-left{margin-block-start:4rem !important;padding-bottom:0 !important;margin-block-end:0 !important}}.is-style-project-left.has-color-yellow-background-color .wp-block-group::after{background-color:#fdeaa5}.is-style-project-left.has-color-salmon-background-color .wp-block-group::after{background-color:#fcdac6}.is-style-project-left.has-color-green-background-color .wp-block-group::after{background-color:#c0d3c8}.is-style-project-left.has-color-lightgreen-background-color .wp-block-group::after{background-color:#c3e1d0}.is-style-project-left.has-color-darkyellow-background-color .wp-block-group::after{background-color:#cdcd9b}.is-style-project-left.has-color-blue-background-color .wp-block-group::after{background-color:#cae7ea}.is-style-project-left>.wp-block-group{height:fit-content;position:relative}@media screen and (max-width: 800px){.is-style-project-left>.wp-block-group{padding:1rem}.is-style-project-left>.wp-block-group h2.has-text-align-right{max-width:80%;text-align:right;margin-right:0 !important;margin-left:auto !important}}.is-style-project-left>.wp-block-group::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);background-repeat:no-repeat;background-size:contain;position:absolute;left:0;top:0;width:9rem;aspect-ratio:1;transform:translate(-60%, -50%)}@media screen and (max-width: 800px){.is-style-project-left>.wp-block-group::before{width:6rem;top:-1rem;left:2.5rem}}.is-style-project-left>.wp-block-group>h3{margin-top:0}@media screen and (max-width: 800px){.is-style-project-left>.wp-block-group .wp-block-columns{margin-block-start:0}}.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2){position:relative}.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2) figure{position:absolute}@media screen and (max-width: 800px){.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(2) figure{position:relative;max-width:80%;margin:0 auto}}.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1){padding:0 2rem}@media screen and (max-width: 800px){.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1){padding:0}}.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1) p:last-child{margin:5rem 0 1rem}@media screen and (max-width: 800px){.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1) p:last-child{margin:2rem 0}}.is-style-project-left>.wp-block-group .wp-block-columns .wp-block-column:nth-child(1) p.is-style-link{line-height:1.6}.is-style-project-left>.wp-block-group::after{content:"";position:absolute;z-index:-1;right:4rem;left:-2rem;top:-2rem;bottom:-4rem;background-color:#fdeaa5}@media screen and (max-width: 800px){.is-style-project-left>.wp-block-group::after{left:0;right:0;bottom:0;top:0}}.is-style-logo-botright,.is-style-logo-botleft{position:relative;padding-bottom:3.5rem}.is-style-logo-botright::before,.is-style-logo-botleft::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);background-repeat:no-repeat;background-size:contain;position:absolute;bottom:-6rem;width:9rem;aspect-ratio:1}@media screen and (max-width: 800px){.is-style-logo-botright::before,.is-style-logo-botleft::before{width:5rem;bottom:-1.5rem}}.is-style-logo-botleft::before{left:0;transform:translateX(-20%)}.is-style-logo-botright::before{right:0;transform:translateX(20%)}.is-style-logo-topleft{position:relative}.is-style-logo-topleft::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);background-repeat:no-repeat;background-size:contain;position:absolute;top:-3rem;left:-4rem;width:9rem;aspect-ratio:1}@media screen and (max-width: 800px){.is-style-logo-topleft::before{content:none}}.hero-container{aspect-ratio:100 / 22.5;position:relative;background-image:var(--background);background-attachment:fixed;background-position:top 66px left;background-repeat:no-repeat;background-size:contain;margin-top:66px !important}.hero-container .caption{position:absolute;bottom:-1.5rem;right:2rem;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:8px}@media screen and (max-width: 800px){.hero-container .caption{bottom:-1rem;right:1.5rem}}@media screen and (max-width: 800px){.hero-container{aspect-ratio:2/1;background-position:top 66px center;background-size:auto calc(100vw / 2)}}blockquote.is-style-citation-right{border:none;position:relative;padding-left:1.5rem;margin-left:1rem}blockquote.is-style-citation-right.has-color-yellow-background-color::after{background-color:#fdeaa5}blockquote.is-style-citation-right.has-color-salmon-background-color::after{background-color:#fcdac6}blockquote.is-style-citation-right.has-color-green-background-color::after{background-color:#c0d3c8}blockquote.is-style-citation-right.has-color-lightgreen-background-color::after{background-color:#c3e1d0}blockquote.is-style-citation-right.has-color-darkyellow-background-color::after{background-color:#cdcd9b}blockquote.is-style-citation-right.has-color-blue-background-color::after{background-color:#cae7ea}blockquote.is-style-citation-right::after{content:"";position:absolute;z-index:-1;left:-30%;right:-2rem;top:-3rem;bottom:-4rem;background-color:#fdeaa5}blockquote.is-style-citation-right::before{content:"";width:2px;height:100%;background-image:url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);background-repeat:repeat-y;position:absolute;left:0}blockquote.is-style-citation-right p{font-weight:400;font-size:1.25rem;line-height:24px;font-style:italic}blockquote.is-style-citation-right cite{position:absolute;right:0;font-size:1.5rem;font-weight:700;bottom:-3rem}@media screen and (max-width: 800px){blockquote.is-style-citation-right{position:initial;margin-bottom:8rem;padding-left:0;margin-left:0}blockquote.is-style-citation-right::before{content:unset}blockquote.is-style-citation-right::after{bottom:3rem;top:-1rem;left:-1rem;right:-1rem}blockquote.is-style-citation-right p{font-size:1rem;line-height:1.2;border-left:dashed 2px #000;padding-left:1rem}blockquote.is-style-citation-right cite{bottom:unset;font-size:18px}}blockquote.is-style-citation-left{border:none;position:relative;padding-left:1.5rem;margin-left:1rem}blockquote.is-style-citation-left.has-color-yellow-background-color::after{background-color:#fdeaa5}blockquote.is-style-citation-left.has-color-salmon-background-color::after{background-color:#fcdac6}blockquote.is-style-citation-left.has-color-green-background-color::after{background-color:#c0d3c8}blockquote.is-style-citation-left.has-color-lightgreen-background-color::after{background-color:#c3e1d0}blockquote.is-style-citation-left.has-color-darkyellow-background-color::after{background-color:#cdcd9b}blockquote.is-style-citation-left.has-color-blue-background-color::after{background-color:#cae7ea}blockquote.is-style-citation-left::after{content:"";position:absolute;z-index:-1;right:-30%;left:-2rem;top:-3rem;bottom:-4rem;background-color:#fdeaa5}blockquote.is-style-citation-left::before{content:"";width:2px;height:100%;background-image:url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);background-repeat:repeat-y;position:absolute;left:0}blockquote.is-style-citation-left p{font-weight:400;font-size:1.25rem;font-style:italic;line-height:24px}blockquote.is-style-citation-left cite{position:absolute;right:0;font-size:1.5rem;font-weight:700;bottom:-3rem}blockquote.is-style-citation-small-right{border:none;position:relative;padding-left:1.5rem;margin-left:2rem;margin-right:6rem}blockquote.is-style-citation-small-right.has-color-yellow-background-color::after{background-color:#fdeaa5}blockquote.is-style-citation-small-right.has-color-salmon-background-color::after{background-color:#fcdac6}blockquote.is-style-citation-small-right.has-color-green-background-color::after{background-color:#c0d3c8}blockquote.is-style-citation-small-right.has-color-lightgreen-background-color::after{background-color:#c3e1d0}blockquote.is-style-citation-small-right.has-color-darkyellow-background-color::after{background-color:#cdcd9b}blockquote.is-style-citation-small-right.has-color-blue-background-color::after{background-color:#cae7ea}blockquote.is-style-citation-small-right::after{content:"";position:absolute;z-index:-1;left:-6rem;right:-2rem;top:-1.5rem;bottom:-4rem;background-color:#fdeaa5}blockquote.is-style-citation-small-right::before{content:"";width:2px;height:100%;background-image:url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);background-repeat:repeat-y;position:absolute;left:0}blockquote.is-style-citation-small-right p{font-weight:400;font-size:1.25rem;line-height:24px;font-style:italic;margin-top:0;padding-right:4rem}blockquote.is-style-citation-small-right cite{text-align:right;position:absolute;right:0;font-size:1rem;font-weight:400;bottom:-3rem;font-style:italic;line-height:1}blockquote.is-style-citation-small-right cite::first-line{font-size:1.5rem;font-weight:700;font-style:normal}blockquote.is-style-citation-small-left{border:none;position:relative;padding-left:1.5rem;margin-left:8rem}blockquote.is-style-citation-small-left.has-color-yellow-background-color::after{background-color:#fdeaa5}blockquote.is-style-citation-small-left.has-color-salmon-background-color::after{background-color:#fcdac6}blockquote.is-style-citation-small-left.has-color-green-background-color::after{background-color:#c0d3c8}blockquote.is-style-citation-small-left.has-color-lightgreen-background-color::after{background-color:#c3e1d0}blockquote.is-style-citation-small-left.has-color-darkyellow-background-color::after{background-color:#cdcd9b}blockquote.is-style-citation-small-left.has-color-blue-background-color::after{background-color:#cae7ea}blockquote.is-style-citation-small-left::after{content:"";position:absolute;z-index:-1;right:-6rem;left:-2rem;top:-1.5rem;bottom:-4rem;background-color:#fdeaa5}blockquote.is-style-citation-small-left::before{content:"";width:2px;height:100%;background-image:url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);background-repeat:repeat-y;position:absolute;left:0}blockquote.is-style-citation-small-left p{font-weight:400;font-size:1.25rem;font-style:italic;line-height:24px;margin-top:0;padding-right:4rem}blockquote.is-style-citation-small-left cite{text-align:right;position:absolute;right:0;font-size:1rem;font-weight:400;bottom:-3rem;font-style:italic;line-height:1}blockquote.is-style-citation-small-left cite::first-line{font-size:1.5rem;font-weight:700;font-style:normal}@media screen and (max-width: 800px){.wp-block-columns.is-style-citation-small{margin-bottom:6rem;gap:0}.wp-block-columns.is-style-citation-small .wp-block-column[style*="flex-basis"]{flex-basis:30% !important}.wp-block-columns.is-style-citation-small .is-style-citation-small-right{padding-left:0;margin-left:0;margin-right:0}.wp-block-columns.is-style-citation-small .is-style-citation-small-right::after{right:0;left:-2rem;top:-1rem;bottom:-4rem}.wp-block-columns.is-style-citation-small .is-style-citation-small-right cite{bottom:-3.5rem;right:0.5rem}.wp-block-columns.is-style-citation-small .is-style-citation-small-right p{padding-right:1rem;padding-left:1rem;margin-left:1rem}.wp-block-columns.is-style-citation-small .is-style-citation-small-right::before{left:1rem}.wp-block-columns.is-style-citation-small .is-style-citation-small-left{padding-left:0;margin-left:0;margin-right:0}.wp-block-columns.is-style-citation-small .is-style-citation-small-left::before{left:1rem}.wp-block-columns.is-style-citation-small .is-style-citation-small-left::after{left:0;right:-2rem;top:-1rem;bottom:-4rem}.wp-block-columns.is-style-citation-small .is-style-citation-small-left cite{bottom:-3.5rem;right:-1rem}.wp-block-columns.is-style-citation-small .is-style-citation-small-left p{padding-right:1rem;padding-left:1rem;margin-left:1rem}}.modaleContainer{opacity:0;display:grid;place-items:center;z-index:100;position:fixed;left:0;right:0;top:0;bottom:0;background-color:rgba(0,0,0,0.5);backdrop-filter:blur(4px);transition:opacity 0.3s ease}.modaleContainer .modale{aspect-ratio:16/9;background-color:rgba(255,255,255,0.8);width:80%;display:grid;place-items:center}.modaleContainer .modaleCloseBtn{position:absolute;top:2rem;right:2rem;line-height:1;padding:0.5rem 0.75rem;border-color:#000;background-color:rgba(255,255,255,0.8);color:#000}.modaleContainer .modaleCloseBtn:hover{cursor:pointer;background-color:rgba(252,218,198,0.8)}.zoom-image{cursor:pointer}ul{list-style:disc}ul.is-style-colorful-bulletpoint{padding-left:18px}ul.is-style-colorful-bulletpoint li{padding-left:0.25rem;margin:0.75rem 0}ul.is-style-colorful-bulletpoint li:nth-child(6n+1){list-style-image:url(/wp-content/themes/GLF/assets/images/bulletpoint-1.png)}ul.is-style-colorful-bulletpoint li:nth-child(6n+1)::marker{margin:2rem}ul.is-style-colorful-bulletpoint li:nth-child(6n+2){list-style-image:url(/wp-content/themes/GLF/assets/images/bulletpoint-4.png)}ul.is-style-colorful-bulletpoint li:nth-child(6n+3){list-style-image:url(/wp-content/themes/GLF/assets/images/bulletpoint-5.png)}ul.is-style-colorful-bulletpoint li:nth-child(6n+4){list-style-image:url(/wp-content/themes/GLF/assets/images/bulletpoint-2.png)}ul.is-style-colorful-bulletpoint li:nth-child(6n+5){list-style-image:url(/wp-content/themes/GLF/assets/images/bulletpoint-3.png)}ul.is-style-colorful-bulletpoint li:nth-child(6n+6){list-style-image:url(/wp-content/themes/GLF/assets/images/bulletpoint-6.png)}ol{list-style:decimal}li>ul,li>ol{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}.post-tags-filters{text-align:center}.post-tags-filters a{color:#5f5f5f;text-decoration:none;font-size:1.5rem;padding:0 2.25rem;position:relative;transition:all 0.2s ease}.post-tags-filters a::after{content:"";width:1px;height:1px;background-color:transparent;position:absolute;left:50%;transform:translate(0, -50%);bottom:0;transition:all 0.2s ease}.post-tags-filters a:not(:first-of-type)::before{content:"";width:2px;height:100%;background-image:url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash-small.svg);background-repeat:no-repeat;position:absolute;left:0;top:0}.post-tags-filters a:hover{color:#000}.post-tags-filters a:hover::after{background-color:#000;transform:translate(0, -50%) scaleX(30)}.post-tags-filters a.active{color:#000}.post-tags-filters a.active::after{background-color:#000;transform:translate(0, -50%) scaleX(30)}body .list-team{justify-content:center;gap:3rem !important;margin-block-end:5rem !important}body .list-team>*{flex:none;flex-basis:auto !important;flex-grow:0 !important;width:100%;max-width:208px}body .list-team+hr{margin-block-end:1.5rem !important}@media screen and (max-width: 800px){body .list-team{display:grid;grid-template-columns:1fr 1fr}}embed,iframe,object{max-width:100%}img{height:auto;max-width:100%}figure{margin:1em 0;position:relative}figure.is-style-caption-left figcaption{position:absolute;bottom:0;left:0;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:8px;transform:translateY(calc(100% + 4px));margin:0}figure.is-style-caption-right figcaption{position:absolute;bottom:-1.5rem;right:0;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:8px}.wp-block-social-links{margin-top:0.75rem;gap:1.5rem !important}.wp-block-social-links li{position:relative}.wp-block-social-links li:hover{transform:scale(1)}.wp-block-social-links li:hover svg{fill:#000 !important}.wp-block-social-links li:hover::after{background-color:rgba(255,255,255,0.5);border-color:#000}.wp-block-social-links li a svg{z-index:1}.wp-block-social-links li::after{z-index:0;content:"";position:absolute;width:140%;height:140%;border:1px solid #5f5f5f;border-radius:2rem;top:-20%;left:-20%}hr.is-style-leaf-sep{width:44rem !important;height:2rem;background:url(/wp-content/themes/GLF/assets/images/sep-leaf.svg);background-repeat:no-repeat;background-position:center;background-size:contain;border:none;max-width:none}@media screen and (max-width: 800px){hr.is-style-leaf-sep{background-image:url(/wp-content/themes/GLF/assets/images/sep-leaf-mob.svg)}}hr.is-style-noleaf-sep{width:44rem !important;height:2rem;background:url(/wp-content/themes/GLF/assets/images/sep-noleaf.svg);background-repeat:no-repeat;background-position:center;background-size:100%;border:none;max-width:none}hr.is-style-logo-sep{width:44rem !important;height:8rem;background:url(/wp-content/themes/GLF/assets/images/sep-logo.svg);background-repeat:no-repeat;background-position:center;background-size:contain;border:none;max-width:none;margin-bottom:1rem}@media screen and (max-width: 800px){hr.is-style-logo-sep{height:5rem}}@media screen and (max-width: 800px){hr.is-style-leaf-sep,hr.is-style-noleaf-sep,hr.is-style-logo-sep{width:calc(100% - 3rem) !important}}footer.site-footer .wp-block-columns{max-width:1200px;margin:0 auto}footer.site-footer .wp-block-columns .wp-block-column{display:flex;flex-direction:column;justify-content:space-between}footer.site-footer .wp-block-columns .wp-block-column .wp-block-group>*{margin-block-start:0}footer.site-footer .wp-block-columns .wp-block-column .wp-block-group>*.wp-block-social-links{margin-top:0.75rem;gap:2rem}footer.site-footer .wp-block-columns .wp-block-column .wp-block-group>*.wp-block-social-links li{position:relative}footer.site-footer .wp-block-columns .wp-block-column .wp-block-group>*.wp-block-social-links li:hover{transform:scale(1)}footer.site-footer .wp-block-columns .wp-block-column .wp-block-group>*.wp-block-social-links li:hover::after{background-color:rgba(255,255,255,0.5)}footer.site-footer .wp-block-columns .wp-block-column .wp-block-group>*.wp-block-social-links li a svg{z-index:1}footer.site-footer .wp-block-columns .wp-block-column .wp-block-group>*.wp-block-social-links li::after{z-index:0;content:"";position:absolute;width:140%;height:140%;border:1px solid #000;border-radius:2rem;top:-20%;left:-20%}@media screen and (max-width: 800px){footer.site-footer .wp-block-columns{gap:.5rem}footer.site-footer .wp-block-columns *{text-align:center;margin:0 auto}footer.site-footer .wp-block-columns .wp-block-column>.wp-block-group{margin-bottom:2rem}footer.site-footer .wp-block-columns .wp-block-social-links{margin:1.5rem 0 !important}}table{margin:0 0 1.5em;width:100%}p.is-style-link>a{color:#5f5f5f;text-decoration:none;transition:all 0.2s ease;position:relative;font-weight:700}p.is-style-link>a::after{position:absolute;content:"";top:50%;transform:translate(0.5rem, -50%);background-image:url(/wp-content/themes/GLF/assets/images/link-arrow.svg);background-position:center;background-repeat:no-repeat;background-size:contain;width:20px;height:14px;transition:all 0.2s ease}p.is-style-link>a:visited{color:#5f5f5f}p.is-style-link>a:hover,p.is-style-link>a:active{color:#000}p.is-style-link>a:hover::after,p.is-style-link>a:active::after{transform:translate(1rem, -50%);filter:brightness(0)}@media screen and (max-width: 800px){p.is-style-link>a{font-size:14px}p.is-style-link>a::after{top:unset;bottom:-4px}}.custom-position-blog-link{position:absolute;bottom:0.5rem;right:26px;margin:0}a{color:inherit;text-decoration:none}.ressource-card p.is-style-link{color:#5f5f5f;text-decoration:none;transition:all 0.2s ease;position:relative;font-weight:700}.ressource-card p.is-style-link::after{position:absolute;content:"";top:50%;transform:translate(0.5rem, -50%);background-image:url(/wp-content/themes/GLF/assets/images/link-arrow.svg);background-position:center;background-repeat:no-repeat;background-size:contain;width:20px;height:14px;transition:all 0.2s ease}@media screen and (max-width: 800px){.ressource-card p.is-style-link::after{top:unset;bottom:-4px}}.ressource-card p.is-style-link:visited{color:#5f5f5f}.ressource-card p.is-style-link:hover,.ressource-card p.is-style-link:active{color:#000}.ressource-card p.is-style-link:hover::after,.ressource-card p.is-style-link:active::after{transform:translate(1rem, -50%);filter:brightness(0)}button,input[type="button"],input[type="reset"],input[type="submit"]{border:1px solid #5f5f5f;color:#5f5f5f;padding:0.4rem 2rem;background:none;width:fit-content}button:hover,input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover{border-color:#000;background-color:rgba(255,255,255,0.4);color:#000}button:active,button:focus,input[type="button"]:active,input[type="button"]:focus,input[type="reset"]:active,input[type="reset"]:focus,input[type="submit"]:active,input[type="submit"]:focus{border-color:#aaa #bbb #bbb}.wp-block-button a{border:1px solid #5f5f5f;color:#5f5f5f;padding:0.4rem 2rem;background:none;width:fit-content;border-radius:0}.wp-block-button a:hover{border-color:#000;background-color:rgba(255,255,255,0.4);color:#000}#see-all-artists{cursor:pointer;color:#5f5f5f;text-decoration:none;transition:all 0.2s ease;position:relative;font-weight:700;border:none;margin:0 auto 3rem auto;display:block}#see-all-artists::after{position:absolute;content:"";bottom:-50%;left:50%;transform:translate(-50%, -50%) rotate(0.25turn);background-image:url(/wp-content/themes/GLF/assets/images/link-arrow.svg);background-position:center;background-repeat:no-repeat;background-size:contain;width:20px;height:14px;transition:all 0.2s ease}#see-all-artists:visited{color:#5f5f5f}#see-all-artists:hover,#see-all-artists:active{color:#000}#see-all-artists:hover::after,#see-all-artists:active::after{transform:translate(-50%, 0) rotate(0.25turn);filter:brightness(0)}#see-less-artists{z-index:5;cursor:pointer;color:#5f5f5f;text-decoration:none;transition:all 0.2s ease;position:relative;font-weight:700;border:none;margin:0 auto 3rem auto;display:block}#see-less-artists::after{position:absolute;content:"";top:-50%;left:50%;transform:translate(-50%, -50%) rotate(0.75turn);background-image:url(/wp-content/themes/GLF/assets/images/link-arrow.svg);background-position:center;background-repeat:no-repeat;background-size:contain;width:20px;height:14px;transition:all 0.2s ease}#see-less-artists:visited{color:#5f5f5f}#see-less-artists:hover,#see-less-artists:active{color:#000}#see-less-artists:hover::after,#see-less-artists:active::after{transform:translate(-50%, -100%) rotate(0.75turn);filter:brightness(0)}input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{color:#000;border:1px solid #000;padding:1rem 1.5rem;background-color:rgba(255,255,255,0.4);max-width:300px;width:100%}input[type="checkbox"]{align-self:flex-start;appearance:none;background-color:transparent;margin:0;color:#000;width:1.15em;height:1.15em;border:1px dashed #000;border-radius:0.15em;transform:translateY(-0.075em);display:grid;place-content:center;flex-shrink:0}input[type="checkbox"]::before{content:"";width:0.65em;height:0.65em;transform:scale(0);transition:120ms transform ease-in-out;box-shadow:inset 1em 1em rgba(255,255,255,0.8)}input[type="checkbox"]:checked::before{transform:scale(1)}input[type="checkbox"]+label{line-height:1.1;font-size:14px}select{border:1px solid #ccc}textarea{width:100%}#newsletterForm{display:flex;flex-direction:column;gap:1rem;padding-top:1rem}#newsletterForm .form-group{display:flex;flex-direction:row;flex-grow:0;flex-wrap:nowrap;align-items:center;gap:0.5rem}#newsletterForm .form-group input[type="checkbox"]::before{box-shadow:inset 1em 1em rgba(255,255,255,0.8)}form#contact-form{position:relative}@media screen and (max-width: 800px){form#contact-form{padding:1.5rem}}form#contact-form .wp-block-columns{margin-bottom:0}@media screen and (max-width: 800px){form#contact-form .wp-block-columns .wp-block-column figure{max-width:80%;margin:0 auto}}@media screen and (min-width: 800px){form#contact-form .wp-block-columns .wp-block-column figure{transform:translateX(-2rem)}}form#contact-form>.form-group{padding:0 4rem}@media screen and (max-width: 800px){form#contact-form>.form-group{padding:0;flex-direction:column}}form#contact-form .wp-block-group>h2{margin-bottom:0}form#contact-form .wp-block-group>p{margin-top:0;margin-bottom:4rem;font-style:italic}@media screen and (max-width: 800px){form#contact-form .wp-block-group>p{margin-bottom:1rem}}form#contact-form .wp-block-column.is-style-bg-no-logo-text-img{background-color:transparent !important;height:fit-content;margin-top:5rem;padding:0 4rem 0 2rem;margin-bottom:2rem}@media screen and (max-width: 800px){form#contact-form .wp-block-column.is-style-bg-no-logo-text-img{padding:0;margin-top:0;margin-bottom:1rem}}form#contact-form .wp-block-column.is-style-bg-no-logo-text-img::after{content:"";position:absolute;z-index:-1;left:0;right:0;top:3rem;bottom:0;background-color:#fdeaa5}@media screen and (max-width: 800px){form#contact-form .wp-block-column.is-style-bg-no-logo-text-img::after{top:0}}.responseMessage{text-align:center}#contact-form{padding-bottom:1rem}@media screen and (max-width: 800px){#contact-form .wp-block-columns{position:initial}}#contact-form input[type="submit"]{display:block;margin:2rem auto 1rem auto}#contact-form .form-group{display:flex;flex-direction:row;flex-grow:0;flex-wrap:nowrap;align-items:center;gap:0.5rem;margin:1.5rem 0}#contact-form .form-group.textarea{margin:0;align-items:flex-start}#contact-form .form-group.textarea textarea{border:1px dashed #5f5f5f;height:144px}#contact-form .form-group.rgpdgrp{justify-content:center}@media screen and (max-width: 800px){#contact-form .form-group.rgpdgrp{flex-direction:row}#contact-form .form-group.rgpdgrp label{flex-shrink:1;font-size:14px}}#contact-form .form-group label{flex-shrink:0}#contact-form .form-group label a{text-decoration:underline}@media screen and (max-width: 800px){#contact-form .form-group label{font-size:18px}}#contact-form .form-group input:not([type="checkbox"]),#contact-form .form-group textarea{max-width:none;border:none;border-bottom:1px dashed #5f5f5f;background-color:#fdeaa5 !important;padding:0}#contact-form .form-group input:not([type="checkbox"]):focus-visible,#contact-form .form-group textarea:focus-visible{outline:none;border-color:#000}#contact-form .form-group select{border:1px solid #5f5f5f;color:#5f5f5f;padding:0.4rem 0.75rem;background:none;width:fit-content;text-align:center;max-width:250px}@media screen and (max-width: 800px){#contact-form .form-group select{max-width:calc(100% - 125px - 0.5rem)}}.entry-content>*,.entry-header>*,aside>*{max-width:650px;margin-left:auto;margin-right:auto}.alignwide{max-width:1000px;margin-left:auto;margin-right:auto}.alignfull{max-width:100%;margin-left:auto;margin-right:auto}main .entry-content>*,.archive .entry-content>*,.single .entry-content>*{margin-block-start:3.5rem;margin-block-end:3rem}main .entry-content>*+*,.archive .entry-content>*+*,.single .entry-content>*+*{margin-block-start:0;margin-block-end:3rem}@media screen and (max-width: 800px){main .entry-content>*+*,.archive .entry-content>*+*,.single .entry-content>*+*{margin-block-end:1.5rem}}.home .postContainer{padding-bottom:4rem}.postContainer{position:relative;max-width:1000px !important;display:grid;grid-template-columns:repeat(3, 1fr);gap:1rem}@media screen and (max-width: 800px){.postContainer{display:flex;flex-direction:column}}.postContainer.artistesContainer{grid-template-columns:repeat(4, 1fr)}@media screen and (max-width: 800px){.postContainer.artistesContainer{display:grid;grid-template-columns:1fr 1fr}}@media screen and (max-width: 800px){.wp-block-columns{position:relative}}.wp-block-columns.is-style-demarche{max-width:1100px !important;gap:2.5rem}@media screen and (max-width: 800px){.wp-block-columns.is-style-demarche *{text-align:center !important}}.wp-block-spacer{margin-block-start:0 !important;margin-block-end:0 !important;margin:0 auto !important}.no-top-margin{margin-top:0 !important;margin-block-start:0 !important}@media screen and (max-width: 800px){body .wp-block-columns{gap:2.5rem}body .wp-block-columns.reverse-mobile .wp-block-column>h2{margin-top:0.5rem}body .wp-block-columns.reverse-mobile .wp-block-column:first-child{order:2}body .wp-block-columns.reverse-mobile .wp-block-column:last-child{order:1}.wp-site-blocks>main>.entry-content>*:not(.wp-block-separator){padding-right:1.5rem;padding-left:1.5rem}.archive .wp-site-blocks .entry-content>*:not(.wp-block-separator){padding-right:1.5rem;padding-left:1.5rem}.single .wp-site-blocks .entry-content>*:not(.wp-block-separator){padding-right:1.5rem;padding-left:1.5rem}}@media screen and (max-width: 800px){*:where(.wp-block-group.has-background){padding:1rem 1.5rem}}header.site-header{position:fixed;top:0;width:100%;z-index:99}header.site-header nav{margin-block-start:0 !important}@media screen and (max-width: 800px){header.site-header{background-color:#fff}}html.has-modal-open .wp-block-polylang-language-switcher{padding-right:2rem !important}.wp-block-polylang-language-switcher{display:flex;gap:0.5rem;z-index:1000000;padding-left:0}.wp-block-polylang-language-switcher .lang-item{list-style-type:none;font-size:1rem;text-transform:uppercase;font-weight:400;color:#5f5f5f}@media screen and (max-width: 800px){.wp-block-polylang-language-switcher .lang-item{font-size:12px}}.wp-block-polylang-language-switcher .lang-item.current-lang{text-transform:lowercase;font-weight:700;color:#000}@media screen and (max-width: 800px){.post-nav{max-width:100%}.post-nav>div{display:grid;gap:1rem;grid-template-columns:1fr 1fr}.post-nav>div .post-navigation-link-previous{margin-left:3rem;grid-column:1/2}.post-nav>div .post-navigation-link-next{text-align:right;margin-right:3rem;grid-column:2/3}.post-nav>div p{display:block;grid-column:1/3;grid-row:2/3;margin:0}}.pagination{max-width:1000px;width:100%;display:flex;justify-content:space-between}@media screen and (max-width: 800px){.pagination{max-width:90%}.pagination a{font-size:14px}}.pagination .pagination__prev a::after{transform:translate(-0.5rem, -50%) rotate(180deg);left:-1rem}.pagination .pagination__prev a:hover,.pagination .pagination__prev a:active{color:#000}.pagination .pagination__prev a:hover::after,.pagination .pagination__prev a:active::after{transform:translate(-1rem, -50%) rotate(180deg);filter:brightness(0)}.pagination a{color:#5f5f5f;text-decoration:none;transition:all 0.2s ease;position:relative;font-weight:700}.pagination a::after{position:absolute;content:"";top:50%;transform:translate(0.5rem, -50%);background-image:url(/wp-content/themes/GLF/assets/images/link-arrow.svg);background-position:center;background-repeat:no-repeat;background-size:contain;width:20px;height:14px;transition:all 0.2s ease}.pagination a:visited{color:#5f5f5f}.pagination a:hover,.pagination a:active{color:#000}.pagination a:hover::after,.pagination a:active::after{transform:translate(1rem, -50%);filter:brightness(0)}.post-navigation-link{max-width:920px;margin:auto;display:grid;grid-template-columns:1fr 1fr 1fr}.post-navigation-link .post-navigation-link-next{text-align:right}.post-navigation-link>*{margin:0 1em}.post-navigation-link>p{width:100%;text-align:center;margin:0}@media screen and (max-width: 800px){.post-navigation-link{grid-template-columns:1fr}.post-navigation-link>div{display:none}}.wp-block-post-navigation-link+p a{color:#5f5f5f;text-decoration:none;transition:all 0.2s ease;font-weight:700}.wp-block-post-navigation-link+p a:hover,.wp-block-post-navigation-link+p a:active{color:#000}.wp-block-post-navigation-link.post-navigation-link-previous a::after{transform:translate(-0.5rem, -50%) rotate(180deg);left:-1.25rem}.wp-block-post-navigation-link.post-navigation-link-previous a:hover,.wp-block-post-navigation-link.post-navigation-link-previous a:active{color:#000}.wp-block-post-navigation-link.post-navigation-link-previous a:hover::after,.wp-block-post-navigation-link.post-navigation-link-previous a:active::after{transform:translate(-1rem, -50%) rotate(180deg);filter:brightness(0)}.wp-block-post-navigation-link a{color:#5f5f5f;text-decoration:none;transition:all 0.2s ease;position:relative;font-weight:700}.wp-block-post-navigation-link a::after{position:absolute;content:"";top:50%;transform:translate(0.5rem, -50%);background-image:url(/wp-content/themes/GLF/assets/images/link-arrow.svg);background-position:center;background-repeat:no-repeat;background-size:contain;width:20px;height:14px;transition:all 0.2s ease}.wp-block-post-navigation-link a:visited{color:#5f5f5f}.wp-block-post-navigation-link a:hover,.wp-block-post-navigation-link a:active{color:#000}.wp-block-post-navigation-link a:hover::after,.wp-block-post-navigation-link a:active::after{transform:translate(1rem, -50%);filter:brightness(0)}.wp-block-navigation__responsive-container-open{font-family:Icons}.main-navigation{display:block;width:100%}.main-navigation ul{display:none;list-style:none;margin:0;padding-left:0}.main-navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,0.2);float:left;position:absolute;top:100%;left:-999em;z-index:99999}.main-navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li:hover>ul,.main-navigation ul ul li.focus>ul{display:block;left:auto}.main-navigation ul ul a{width:200px}.main-navigation ul li:hover>ul,.main-navigation ul li.focus>ul{left:auto}.main-navigation li{position:relative}.main-navigation a{display:block;text-decoration:none}.menu-toggle,.main-navigation.toggled ul{display:block}@media screen and (min-width: 37.5em){.menu-toggle{display:none}.main-navigation ul{display:flex}}.site-main .comment-navigation,.site-main .posts-navigation,.site-main .post-navigation{margin:0 0 1.5em}.comment-navigation .nav-links,.posts-navigation .nav-links,.post-navigation .nav-links{display:flex}.comment-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-previous{flex:1 0 50%}.comment-navigation .nav-next,.posts-navigation .nav-next,.post-navigation .nav-next{text-align:end;flex:1 0 50%}header .wp-block-site-logo{z-index:100000000}@media screen and (max-width: 800px){header .wp-block-site-logo img{max-width:80%;min-width:170px}}@media screen and (max-width: 800px){header .wp-container-3 .wp-block-polylang-language-switcher{line-height:.8}header .wp-container-4{align-items:flex-end !important}header .wp-container-4 .wp-block-site-logo{line-height:.8}}header .is-menu-open{justify-content:center;padding:66px 2rem 2rem 2rem !important}@media screen and (max-width: 800px){header .is-menu-open{justify-content:flex-start}}header .is-menu-open .wp-block-navigation__responsive-close{overflow-y:visible}header .is-menu-open .wp-block-navigation__responsive-dialog{position:initial}header .is-menu-open .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-close{padding:1.25em 2.375em}@media screen and (max-width: 800px){header .is-menu-open .wp-block-navigation__responsive-dialog .wp-block-navigation__responsive-container-close{position:absolute;top:-0.3rem;right:-1rem;z-index:2}}header .is-menu-open div.wp-block-navigation__responsive-container-content{display:block;padding-top:0 !important}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container{width:100%;max-width:1000px;display:block;margin:0 auto;position:relative}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container::after{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);width:180px;aspect-ratio:1;background-repeat:no-repeat;background-size:contain;position:absolute;bottom:0;right:-5rem}@media screen and (max-width: 800px){header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container::after{bottom:initial;right:initial;position:relative;align-self:center;width:120px}}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item{display:flex;width:100%;justify-content:space-between;align-items:center;flex-direction:row;padding:1.5rem 2rem}@media screen and (max-width: 800px){header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item{flex-direction:column;text-align:center;gap:1.5rem}}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>a{font-size:22px;flex-shrink:0}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item:not(:last-of-type):not(.donation){pointer-events:none}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item:nth-child(4n+1){background-color:#c3e1d0 !important}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item:nth-child(4n+2){background-color:#fcdac6 !important}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item:nth-child(4n+3){background-color:#fdeaa5 !important}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item:nth-child(4n+4){background-color:#cdcd9b !important}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item:last-of-type{background:none !important}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.donation{justify-content:center}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.donation a{position:relative}@media screen and (max-width: 800px){header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.donation a{max-width:174px}}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.donation a::before{content:"";background:url(/wp-content/themes/GLF/assets/images/embleme.svg);background-repeat:no-repeat;background-size:contain;position:absolute;left:-3.5rem;width:3rem;aspect-ratio:32 / 43;top:50%;transform:translateY(-50%)}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.contact{justify-content:center}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.contact a{transition:all 0.2s ease;position:relative;font-weight:700;color:#5f5f5f}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.contact a::after{position:absolute;content:"";top:50%;transform:translate(0.5rem, -60%);background-image:url(/wp-content/themes/GLF/assets/images/link-arrow.svg);background-position:center;background-repeat:no-repeat;background-size:contain;width:20px;height:14px;transition:all 0.2s ease}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.contact a:hover{color:#000}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item.contact a:hover::after{transform:translate(1rem, -60%);filter:brightness(0)}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container{flex-direction:row;padding:0}@media screen and (max-width: 800px){header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container{flex-direction:column;gap:1rem}}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container>li.wp-block-navigation-item{pointer-events:all;margin-left:2rem;position:relative}@media screen and (max-width: 800px){header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container>li.wp-block-navigation-item{margin-left:0;align-items:center}}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container>li.wp-block-navigation-item:hover{text-decoration:underline}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container>li.wp-block-navigation-item:not(:first-child)::before{content:"";background-image:url(/wp-content/themes/GLF/assets/images/menu_line.svg);background-repeat:no-repeat;width:2rem;height:100%;background-size:contain;background-position:center;position:absolute;left:-2rem}@media screen and (max-width: 800px){header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container>li.wp-block-navigation-item:not(:first-child)::before{width:1rem;height:5rem;transform:rotate(90deg) translateX(-50px);left:unset !important}}header .is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation__container>li.wp-block-navigation-item>ul.wp-block-navigation__submenu-container>li.wp-block-navigation-item a{font-weight:400}.sticky{display:block}.updated:not(.published){display:none}.page-content,.entry-content,.entry-summary{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.page-content .wp-smiley,.entry-content .wp-smiley,.comment-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.custom-logo-link{display:inline-block}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*="wp-image-"]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:0.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em;display:grid;grid-gap:1.5em}.gallery-item{display:inline-block;text-align:center;width:100%}.gallery-columns-2{grid-template-columns:repeat(2, 1fr)}.gallery-columns-3{grid-template-columns:repeat(3, 1fr)}.gallery-columns-4{grid-template-columns:repeat(4, 1fr)}.gallery-columns-5{grid-template-columns:repeat(5, 1fr)}.gallery-columns-6{grid-template-columns:repeat(6, 1fr)}.gallery-columns-7{grid-template-columns:repeat(7, 1fr)}.gallery-columns-8{grid-template-columns:repeat(8, 1fr)}.gallery-columns-9{grid-template-columns:repeat(9, 1fr)}.gallery-caption{display:block}.wp-block-gallery>figure{margin-bottom:0 !important}.screen-reader-text{border:0;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute !important;width:1px;word-wrap:normal !important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,0.6);clip:auto !important;clip-path:none;color:#21759b;display:block;font-size:0.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#primary[tabindex="-1"]:focus{outline:0}.alignleft{float:left;margin-right:1.5em;margin-bottom:1.5em}.alignright{float:right;margin-left:1.5em;margin-bottom:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom:1.5em}

/*# sourceMappingURL=style-editor.css.map */