h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-family: Carlson;
	font-weight: 700;
	font-size: 2.75rem;
	position: relative;
	line-height: 46px;

	&.is-style-logo-left {

		&::before {
			content: "";
			background: url(/wp-content/themes/GLF/assets/images/embleme.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			height: 135%;
			aspect-ratio: 32 / 43;
			top: 50%;
			transform: translate(calc(-100% - 1rem), -50%);
		}
	}
}

h2 {
	font-family: Carlson;
	font-weight: 700;
	font-size: 2rem;
	line-height: 36px;
}

h3,
.h3-like {
	font-family: Carlson;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 24px;
}

.wp-block-group.has-background {

	> h2 {
		padding: 0.5rem 0;
	}
}

.entry-content {

	> h1 {
		width: fit-content;
	}
}

@media screen and (max-width: $breakpoint_mobile) {

	.entry-content > h1 {

		&.is-style-logo-left {
			margin-left: auto !important;

			&::before {
				max-height: 72px;
				transform: translate(-0.75rem, -50%);
			}
		}
	}

	h1 {
		font-size: 1.375rem;
		line-height: 1.2;

		&.is-style-logo-left {
			margin-left: 3rem !important;

			&::before {
				max-height: 72px;
				transform: translate(calc(-100% + -0.5rem), -50%);
			}
		}
	}

	h2 {
		font-size: 1.25rem;
		line-height: 1.2;
	}

	h3 {
		font-size: 1.125rem;
		line-height: 1.2;
	}
}
