body,
button,
input,
select,
optgroup,
textarea {
	color: #000;
	font-family: $font__main;
	font-size: 1rem;
	font-weight: 400;
	line-height: $font__line-height-body;

	p {
		line-height: 20px;

		&.is-style-source {
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 8px;
			line-height: 12px;
			margin-top: 0.25rem;
		}
	}
}

@import "headings";
@import "copy";
