header.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;

	nav {
		margin-block-start: 0 !important;
	}
	@media screen and (max-width: $breakpoint_mobile) {
		background-color: #fff;
	}
}

html.has-modal-open{
	.wp-block-polylang-language-switcher{
		padding-right: 2rem !important;
	}
}

.wp-block-polylang-language-switcher {
	display: flex;
	gap: 0.5rem;
	z-index: 1000000;
	padding-left:0;
	.lang-item {
		list-style-type: none;
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: 400;
		color: #5f5f5f;

		@media screen and (max-width: $breakpoint_mobile) {
			font-size: 12px;
		}

		&.current-lang {
			text-transform: lowercase;
			font-weight: 700;
			color: #000;
		}
	}
}

.post-nav {

	@media screen and (max-width: $breakpoint_mobile) {
		max-width: 100%;

		> div {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr 1fr;

			.post-navigation-link-previous {
				margin-left: 3rem;
				grid-column: 1/2;
			}

			.post-navigation-link-next {
				text-align: right;
				margin-right: 3rem;
				grid-column: 2/3;
			}

			p {
				display: block;
				grid-column: 1/3;
				grid-row: 2/3;
				margin: 0;
			}
		}
	}
}

.pagination {
	max-width: 1000px;
	width: 100%;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: $breakpoint_mobile) {
		max-width: 90%;

		a {
			font-size: 14px;
		}
	}

	.pagination__prev {

		a {

			&::after {
				transform: translate(-0.5rem, -50%) rotate(180deg);
				left: -1rem;

			}

			&:hover,
			&:active {
				color: #000;

				&::after {
					transform: translate(-1rem, -50%) rotate(180deg);
					filter: brightness(0);
				}
			}
		}
	}

	a {
		color: #5f5f5f;
		text-decoration: none;
		transition: all 0.2s ease;
		position: relative;
		font-weight: 700;

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			transform: translate(0.5rem, -50%);
			background-image: url(/wp-content/themes/GLF/assets/images/link-arrow.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 20px;
			height: 14px;
			transition: all 0.2s ease;
		}

		&:visited {
			color: #5f5f5f;
		}

		&:hover,
		&:active {
			color: #000;

			&::after {
				transform: translate(1rem, -50%);
				filter: brightness(0);
			}
		}
	}
}

.post-navigation-link{
	max-width: 920px;
	margin : auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	.post-navigation-link-next{
		text-align: right;
	}
	&>*{
		margin:0 1em;
	} 
	&>p{
		width:100%;
		text-align: center;
		margin:0;
	}
	@media screen and (max-width: $breakpoint_mobile) {
		grid-template-columns: 1fr;
		&>div{
			display:none;
		}
		
	}
}
.wp-block-post-navigation-link { 

	+ p {

		a {
			color: #5f5f5f;
			text-decoration: none;
			transition: all 0.2s ease;
			font-weight: 700;

			&:hover,
			&:active {
				color: #000;
			}
		}
	}

	&.post-navigation-link-previous {

		a {

			&::after {
				transform: translate(-0.5rem, -50%) rotate(180deg);
				left: -1.25rem;

			}

			&:hover,
			&:active {
				color: #000;

				&::after {
					transform: translate(-1rem, -50%) rotate(180deg);
					filter: brightness(0);
				}
			}
		}
	}

	a {
		color: #5f5f5f;
		text-decoration: none;
		transition: all 0.2s ease;
		position: relative;
		font-weight: 700;

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			transform: translate(0.5rem, -50%);
			background-image: url(/wp-content/themes/GLF/assets/images/link-arrow.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 20px;
			height: 14px;
			transition: all 0.2s ease;
		}

		&:visited {
			color: #5f5f5f;
		}

		&:hover,
		&:active {
			color: #000;

			&::after {
				transform: translate(1rem, -50%);
				filter: brightness(0);
			}
		}
	}
}

.wp-block-navigation__responsive-container-open {
	font-family: Icons;
}

.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

header {

	.wp-block-site-logo {
		z-index: 100000000;

		@media screen and (max-width: $breakpoint_mobile) {

			img {
				max-width: 80%;
				min-width:170px;
			}
		}
	}
	
	@media screen and (max-width: $breakpoint_mobile) {
		.wp-container-3{
			//align-items: flex-end !important;
			.wp-block-polylang-language-switcher {
				line-height: .8;
			}
		}
		.wp-container-4{
			align-items: flex-end !important;
			.wp-block-site-logo {
				line-height: .8;
			}
		}
	}

	.is-menu-open {
		justify-content: center;
		@media screen and (max-width: $breakpoint_mobile) {
			justify-content: flex-start;
		}
		padding: 66px 2rem 2rem 2rem !important;

		.wp-block-navigation__responsive-close {
			overflow-y: visible;
		}

		.wp-block-navigation__responsive-dialog {
			position: initial;

			.wp-block-navigation__responsive-container-close {
				padding: 1.25em 2.375em;

				@media screen and (max-width: $breakpoint_mobile) {
					position: absolute;
					top: -0.3rem;
					right: -1rem;
					z-index: 2;
				}
			}
		}

		div.wp-block-navigation__responsive-container-content {
			display: block;
			padding-top: 0 !important;

			ul.wp-block-navigation__container {
				width: 100%;
				max-width: 1000px;
				display: block;
				margin: 0 auto;
				position: relative;

				&::after {
					content: "";
					background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
					width: 180px;
					aspect-ratio: 1;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					bottom: 0;
					right: -5rem;

					@media screen and (max-width: $breakpoint_mobile) {
						bottom: initial;
						right: initial;
						position: relative;
						align-self: center;
						width: 120px;
					}
				}

				> li.wp-block-navigation-item {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					flex-direction: row;
					padding: 1.5rem 2rem;

					@media screen and (max-width: $breakpoint_mobile) {
						flex-direction: column;
						text-align: center;
						gap: 1.5rem;
					}

					> a {
						font-size: 22px;
						flex-shrink: 0;
					}

					&:not(:last-of-type):not(.donation) {
						pointer-events: none;
					}


					&:nth-child(4n+1) {
						background-color: $color__lightgreen !important;
					}

					&:nth-child(4n+2) {
						background-color: $color__salmon !important;
					}

					&:nth-child(4n+3) {
						background-color: $color__yellow !important;
					}

					&:nth-child(4n+4) {
						background-color: $color__darkyellow !important;
					}

					&:last-of-type {
						background: none !important;
					}

					&.donation {
						justify-content: center;

						a {
							position: relative;

							@media screen and (max-width: $breakpoint_mobile) {
								max-width: 174px;
							}

							&::before {
								content: "";
								background: url(/wp-content/themes/GLF/assets/images/embleme.svg);
								background-repeat: no-repeat;
								background-size: contain;
								position: absolute;
								left: -3.5rem;
								width: 3rem;
								aspect-ratio: 32 / 43;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}

					&.contact {
						justify-content: center;

						a {
							transition: all 0.2s ease;
							position: relative;
							font-weight: 700;
							color: #5f5f5f;

							&::after {
								position: absolute;
								content: "";
								top: 50%;
								transform: translate(0.5rem, -60%);
								background-image: url(/wp-content/themes/GLF/assets/images/link-arrow.svg);
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
								width: 20px;
								height: 14px;
								transition: all 0.2s ease;
							}

							&:hover {
								color: #000;

								&::after {
									transform: translate(1rem, -60%);
									filter: brightness(0);
								}
							}
						}
					}

					> ul.wp-block-navigation__submenu-container {
						flex-direction: row;
						padding: 0;

						@media screen and (max-width: $breakpoint_mobile) {
							flex-direction: column;
							gap: 1rem;
						}

						> li.wp-block-navigation-item {
							pointer-events: all;
							margin-left: 2rem;
							position: relative;

							@media screen and (max-width: $breakpoint_mobile) {
								margin-left: 0;
								align-items: center;
							}

							&:hover {
								text-decoration: underline;
							}

							&:not(:first-child) {

								&::before {
									content: "";
									background-image: url(/wp-content/themes/GLF/assets/images/menu_line.svg);
									background-repeat: no-repeat;
									width: 2rem;
									height: 100%;
									background-size: contain;
									background-position: center;
									position: absolute;
									left: -2rem;

									@media screen and (max-width: $breakpoint_mobile) {
										width: 1rem;
										height: 5rem;
										transform: rotate(90deg) translateX(-50px);
										left: unset !important;
									}
								}

							}

							a {
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}
