body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
}

main {
	margin: 0;
}

header {
	z-index: 1; 
}

iframe {
	min-height: 1300px;
	height: 100% !important;
}
