button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #5f5f5f;
	color: #5f5f5f;
	padding: 0.4rem 2rem;
	background: none;
	width: fit-content;

	&:hover {
		border-color: $color__black;
		background-color: rgba($color__white, 0.4);
		color: $color__black;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.wp-block-button {

	a {
		border: 1px solid #5f5f5f;
		color: #5f5f5f;
		padding: 0.4rem 2rem;
		background: none;
		width: fit-content;
		border-radius: 0;

		&:hover {
			border-color: $color__black;
			background-color: rgba($color__white, 0.4);
			color: $color__black;
		}
	}
}

#see-all-artists {
	cursor: pointer;
	color: #5f5f5f;
	text-decoration: none;
	transition: all 0.2s ease;
	position: relative;
	font-weight: 700;
	border: none;
	margin: 0 auto 3rem auto;
	display: block;

	&::after {
		position: absolute;
		content: "";
		bottom: -50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(0.25turn);
		background-image: url(/wp-content/themes/GLF/assets/images/link-arrow.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 20px;
		height: 14px;
		transition: all 0.2s ease;
	}

	&:visited {
		color: #5f5f5f;
	}

	&:hover,
	&:active {
		color: #000;

		&::after {
			transform: translate(-50%, 0) rotate(0.25turn);
			filter: brightness(0);
		}
	}
}

#see-less-artists {
	z-index: 5;
	cursor: pointer;
	color: #5f5f5f;
	text-decoration: none;
	transition: all 0.2s ease;
	position: relative;
	font-weight: 700;
	border: none;
	margin: 0 auto 3rem auto;
	display: block;

	&::after {
		position: absolute;
		content: "";
		top: -50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(0.75turn);
		background-image: url(/wp-content/themes/GLF/assets/images/link-arrow.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 20px;
		height: 14px;
		transition: all 0.2s ease;
	}

	&:visited {
		color: #5f5f5f;
	}

	&:hover,
	&:active {
		color: #000;

		&::after {
			transform: translate(-50%, -100%) rotate(0.75turn);
			filter: brightness(0);
		}
	}
}
