.link-card-blog {
	text-decoration: none;
	color: #000;
	padding: 2.5rem;
	border: #000 1px solid;
	transition: background-color 0.2s ease;
	max-width: calc((1000px - 2rem) / 3);
	box-sizing: border-box;

	&:hover {
		background-color: rgba($color__white, 0.5);
	}

	* {
		text-decoration: none;
		box-sizing: border-box;
	}

	h3 {
		position: relative;

		&::after {
			content: "";
			background: url(/wp-content/themes/GLF/assets/images/blog-title-arrow.svg);
			position: absolute;
			width: 8px;
			aspect-ratio: 5 / 10;
			background-size: contain;
			background-repeat: no-repeat;
			bottom: -4px;
			transform: translate(0.75rem, -50%);

			@media screen and (max-width: $breakpoint_mobile) {
				top: initial;
				bottom: -4px;
			}
		}
	}

}

.archive {

	.link-card-blog {

		&:hover {
			background-color: rgba($color__salmon, 0.5);
		}
	}
}

.is-style-card-values {

	.wp-block-column {
		padding: 0 2rem;

		figure {
			height: 70px;
			text-align: center;
			aspect-ratio: 1;
			margin: 0 auto;

			img {
				width: auto;
				height: 70px;
			}
		}

		h3 {
			margin: 2.25rem 0 1.75rem 0;
		}

		p {
			margin-block-start: 0;
		}

		@media screen and (max-width: $breakpoint_mobile) {

			&:not(:last-child) {
				padding-bottom: 2rem;
			}

			h3 {
				margin: 1rem 0 0.75rem 0;
			}
		}
	}
}

.team-card {
	position: relative;
	height: 100%;

	h3 {
		margin-block-start: 0.5rem;
		margin-block-end: 0.5rem;

		@media screen and (max-width: $breakpoint_mobile) {
			margin-block-end: 0;
		}
	}

	p {
		position: absolute;
		bottom: 0;
		transform: translate(0, 100%);
		margin-block-start: 0;
		font-family: Verdana, sans-serif;
		font-size: 12px;
		color: #5f5f5f;
		text-align: center;
		width: 100%;
		line-height: 1.25;
	}
}

article.type-artists {
	text-align: center;

	h3:first-of-type {
		margin-top: 0.25rem;
		margin-bottom: 0;
	}

	h3:last-of-type {
		margin-top: 0;
		text-transform: uppercase;
	}
}

.ressource-card {
	display: flex;
	padding: 1rem;
	gap: 1.5rem;
	margin-bottom: 1.5rem;
	transition: background-color 0.2s ease;
	position: relative;


	* {
		margin: 0;
		box-sizing: border-box;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color__white, 0);
		transition: all 0.2s ease;
	}

	figure {
		flex-shrink: 0;
		line-height: 0;
		display: grid;
		place-items: center;
		width: 135px;
		aspect-ratio: 1;
		z-index: 2;
	}

	.content {
		z-index: 2;
		flex-basis: 100%;
		padding-bottom: 20px;
		position: relative;

		h3 {
			position: relative;

			&::after {
				content: "";
				background: url(/wp-content/themes/GLF/assets/images/blog-title-arrow.svg);
				position: absolute;
				width: 8px;
				aspect-ratio: 5 / 10;
				background-size: contain;
				background-repeat: no-repeat;
				top: 50%;
				transform: translate(0.75rem, -50%);
			}
		}

		p:not(.is-style-link) {
			margin-top: 0.75rem;
			max-width: 80%;
		}

		.is-style-link {
			position: absolute;
			bottom: -0.25rem;
			left: 0;
		}
	}

	&:hover {


		&::before {
			background-color: rgba($color__white, 0.4);
		}

		/* background-color: rgba($color__yellow, 0.5); */

		p.is-style-link {

			color: #000;

			&::after {
				transform: translate(1rem, -50%);
				filter: brightness(0);
			}
		}
	}

	@media screen and (max-width: $breakpoint_mobile) {
		flex-direction: column;

		figure {
			margin: 0 auto;
		}

		.content {
			padding-bottom: 0;

			.is-style-link {
				position: relative;
				margin-right: 3rem;
			}
		}
	}
}


.card-accompagnements {

	.wp-block-columns:first-child {
		margin-bottom: 0;
	}

	.wp-block-columns {

		&:last-of-type {

			.wp-block-column:last-of-type {

				> .wp-block-group:last-of-type {
					padding-bottom: 6rem;

				}
			}
		}

		.wp-block-column {

			> .wp-block-group {
				height: 100%;
				position: relative;
				padding-bottom: 4rem;


				> *:last-child {
					bottom: 1rem;

					position: absolute;
				}
			}
		}
	}
}
