input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__black;
	border: 1px solid $color__black;
	padding: 1rem 1.5rem;
	background-color: rgba(255, 255, 255, 0.4);
	max-width: 300px;
	width: 100%;

	&:focus {

	}
}

input[type="checkbox"] {
	align-self: flex-start;
	appearance: none;
	background-color: transparent;
	margin: 0;
	color: $color__black;
	width: 1.15em;
	height: 1.15em;
	border: 1px dashed $color__black;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	display: grid;
	place-content: center;
	flex-shrink: 0;

	&::before {
		content: "";
		width: 0.65em;
		height: 0.65em;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em rgba($color__white, 0.8);
	}

	&:checked::before {
		transform: scale(1);
	}

	& + label {
		line-height: 1.1;
		font-size: 14px;
	}
}


select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

#newsletterForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 1rem;

	.form-group {
		display: flex;
		flex-direction: row;
		flex-grow: 0;
		flex-wrap: nowrap;
		align-items: center;
		gap: 0.5rem;

		input[type="checkbox"] {

			&::before {
				box-shadow: inset 1em 1em rgba($color__white, 0.8);
			}
		}
	}
}


form#contact-form {
	position: relative;

	@media screen and (max-width: $breakpoint_mobile) {
		padding: 1.5rem;
	}

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-column {

			figure {

				@media screen and (max-width: $breakpoint_mobile) {
					max-width: 80%;
					margin: 0 auto;
				}

				@media screen and (min-width: $breakpoint_mobile) {
					transform: translateX(-2rem);

				}
			}
		}
	}


	> .form-group {
		padding: 0 4rem;

		@media screen and (max-width: $breakpoint_mobile) {
			padding: 0;
			flex-direction: column;
		}
	}

	.wp-block-group {

		>h2 {
			margin-bottom: 0;

		}

		> p {
			margin-top: 0;
			margin-bottom: 4rem;
			font-style: italic;

			@media screen and (max-width: $breakpoint_mobile) {
				margin-bottom: 1rem;
			}
		}
	}

	.wp-block-column.is-style-bg-no-logo-text-img {
		background-color: transparent !important;
		height: fit-content;
		margin-top: 5rem;
		padding: 0 4rem 0 2rem;
		margin-bottom: 2rem;

		@media screen and (max-width: $breakpoint_mobile) {
			padding: 0;
			margin-top: 0;
			margin-bottom: 1rem;
		}

		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			left: 0;
			right: 0;
			top: 3rem;
			bottom: 0;
			background-color: $color__yellow;

			@media screen and (max-width: $breakpoint_mobile) {
				top: 0;
			}
		}
	}
}

.responseMessage {
	text-align: center;
}

#contact-form {
	padding-bottom: 1rem;

	@media screen and (max-width: $breakpoint_mobile) {

		.wp-block-columns {
			position: initial;
		}
	}

	input[type="submit"] {
		display: block;
		margin: 2rem auto 1rem auto;
	}

	.form-group {
		display: flex;
		flex-direction: row;
		flex-grow: 0;
		flex-wrap: nowrap;
		align-items: center;
		gap: 0.5rem;
		margin: 1.5rem 0;

		&.textarea {
			margin: 0;
			align-items: flex-start;

			textarea {
				border: 1px dashed #5f5f5f;
				height: 144px;
			}
		}

		&.rgpdgrp {
			justify-content: center;

			@media screen and (max-width: $breakpoint_mobile) {
				flex-direction: row;

				label {
					flex-shrink: 1;
					font-size:14px;
				}
			}
		}

		label {
			flex-shrink: 0;

			a {
				text-decoration: underline;
			}

			@media screen and (max-width: $breakpoint_mobile) {
				font-size: 18px;
			}
		}

		input:not([type="checkbox"]),
		textarea {
			max-width: none;
			border: none;
			border-bottom: 1px dashed #5f5f5f;
			background-color: $color__yellow !important;
			padding: 0;

			&:focus-visible {
				outline: none;
				border-color: $color__black;
			}

		}

		select {
			border: 1px solid #5f5f5f;
			color: #5f5f5f;
			padding: 0.4rem 0.75rem;
			background: none;
			width: fit-content;
			text-align: center;
			max-width: 250px;

			@media screen and (max-width: $breakpoint_mobile) {
				max-width: calc(100% - 125px - 0.5rem);
			}
		}
	}
}
