footer {

	&.site-footer {

		.wp-block-columns {
			max-width: 1200px;
			margin: 0 auto;

			.wp-block-column {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.wp-block-group > * {
					margin-block-start: 0;

					&.wp-block-social-links {
						margin-top: 0.75rem;
						gap: 2rem;

						li {
							position: relative;

							&:hover {
								transform: scale(1);

								&::after {
									background-color: rgba($color__white, 0.5);
								}
							}

							a {

								svg {
									z-index: 1;
								}
							}

							&::after {
								z-index: 0;
								content: "";
								position: absolute;
								width: 140%;
								height: 140%;
								border: 1px solid #000;
								border-radius: 2rem;
								top: -20%;
								left: -20%;
							}

							/* 							&.wp-social-link-facebook,
							&.wp-social-link-linkedin {
								padding: 4px 0;

								svg {
									height: 22px;
								}
							} */
						}
					}
				}
			}

			@media screen and (max-width: $breakpoint_mobile) {
				
				gap: .5rem;
							
				* {
					text-align: center;
					margin: 0 auto;
				}
				.wp-block-column {	
					& > .wp-block-group{
						margin-bottom: 2rem;
					}
				}

				.wp-block-social-links {
					margin: 1.5rem 0 !important;
				}
			}
		}
	}
}
