/* .is-style-y-bg-big {

	&::after {
		background-color: $color__yellow;
	}
}

.is-style-s-bg-big {

	&::after {
		background-color: $color__salmon;
	}
}
 */

/* .wp-block-group[class*="is-style-"] {
	position: relative;

	> h2 {
		display: block;
		width: fit-content;
		margin: 0 auto;
		padding: 1.5rem 3rem;
		background-color: #fff;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: -1;
		background-color: transparent;
	}
} */

.is-style-logo-topright {
	position: relative;

	&::before {
		content: "";
		background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		right: -5rem;
		width: 9rem;
		aspect-ratio: 1;
		top: -2.5rem;
	}

	@media screen and (max-width: $breakpoint_mobile) {

		&::before {
			content: none;
		}
	}
}

.is-style-logo-outtopright {
	position: relative;

	&::before {
		content: "";
		background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		right: 0;
		width: 9rem;
		aspect-ratio: 1;
		top: 0;
		transform: translate(120%, -50%);
	}

	@media screen and (max-width: $breakpoint_mobile) {

		&::before {
			content: none;
		}
	}
}

.col-padd {

	@media screen and (max-width: $breakpoint_mobile) {
		padding: 1rem;
	}
}

.wp-block-column.is-style-bg-logo-text-img {
	position: relative;
	background-color: transparent !important;
	height: fit-content;
	margin-top: 5rem;
	padding: 0 4rem;
	margin-bottom: 2rem;

	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		left: -30%;
		right: -2rem;
		top: -3rem;
		bottom: -2rem;
		background-color: $color__yellow;
	}

	&::before {
		content: "";
		background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		right: 0;
		top: 0;
		width: 9rem;
		aspect-ratio: 1;
		transform: translate(56%, -70%);

	}

	@media screen and (max-width: $breakpoint_mobile) {
		height: initial;
		margin-top: unset;
		padding: unset;
		margin-bottom: unset;
		position: initial;

		&::after {
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		&::before {
			top: 20px;
			right: 2rem;
			width: 6rem;
		}
	}

	&.has-color-yellow-background-color {

		&::after {
			background-color: $color__yellow;
		}
	}

	&.has-color-salmon-background-color {

		&::after {
			background-color: $color__salmon;
		}
	}

	&.has-color-green-background-color {

		&::after {
			background-color: $color__green;
		}
	}

	&.has-color-lightgreen-background-color {

		&::after {
			background-color: $color__lightgreen;
		}
	}

	&.has-color-darkyellow-background-color {

		&::after {
			background-color: $color__darkyellow;
		}
	}

	&.has-color-blue-background-color {

		&::after {
			background-color: $color__blue;
		}
	}
}

/////////////////////////////////

.is-style-project-right {
	min-height: calc(600px + 2rem);
	margin-top: 3rem !important;
	padding-top: 2rem;
	background-color: transparent !important;

	&.has-color-yellow-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__yellow;
			}
		}
	}

	&.has-color-salmon-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__salmon;
			}
		}
	}

	&.has-color-green-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__green;
			}
		}
	}

	&.has-color-lightgreen-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__lightgreen;
			}
		}
	}

	&.has-color-darkyellow-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__darkyellow;
			}
		}
	}

	&.has-color-blue-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__blue;
			}
		}
	}

	> .wp-block-group {
		height: fit-content;
		position: relative;

		@media screen and (max-width: $breakpoint_mobile) {
			padding: 1rem;
		}

		&::before {
			content: "";
			background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			right: 0;
			top: 0;
			width: 9rem;
			aspect-ratio: 1;
			transform: translate(56%, -60%);

			@media screen and (max-width: $breakpoint_mobile) {
				width: 6rem;
				top: -1rem;
				right: 2rem;
			}
		}

		> h3 {
			margin-top: 0;
		}

		.wp-block-columns {

			@media screen and (max-width: $breakpoint_mobile) {
				margin-block-start: 0;
			}

			.wp-block-column:nth-child(1) {
				position: relative;

				figure {
					position: absolute;

					@media screen and (max-width: $breakpoint_mobile) {
						position: relative;
						max-width: 80%;
						margin: 0 auto;
					}
				}
			}

			.wp-block-column:nth-child(2) {
				padding: 0 2rem;

				@media screen and (max-width: $breakpoint_mobile) {
					padding: 0;
				}

				p:last-child {
					margin: 5rem 0 1rem;

					@media screen and (max-width: $breakpoint_mobile) {
						margin: 2rem 0;
					}
				}

				p.is-style-link {
					line-height: 1.6;
					text-align: left;
				}
			}
		}


		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			left: 4rem;
			right: -2rem;
			top: -2rem;
			bottom: -4rem;
			background-color: $color__yellow;

			@media screen and (max-width: $breakpoint_mobile) {
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}
		}

	}

}


// project gauhe
.is-style-project-left {
	min-height: calc(600px + 2rem);
	background-color: transparent !important;

	@media screen and (max-width: $breakpoint_mobile) {
		margin-block-start: 4rem !important;
		padding-bottom: 0 !important;
		margin-block-end: 0 !important;
	}

	&.has-color-yellow-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__yellow;
			}
		}
	}

	&.has-color-salmon-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__salmon;
			}
		}
	}

	&.has-color-green-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__green;
			}
		}
	}

	&.has-color-lightgreen-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__lightgreen;
			}
		}
	}

	&.has-color-darkyellow-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__darkyellow;
			}
		}
	}

	&.has-color-blue-background-color {

		.wp-block-group {

			&::after {
				background-color: $color__blue;
			}
		}
	}

	> .wp-block-group {
		height: fit-content;
		position: relative;

		@media screen and (max-width: $breakpoint_mobile) {
			padding: 1rem;

			h2.has-text-align-right {
				max-width: 80%;
				text-align: right;
				margin-right: 0 !important;
				margin-left: auto !important;
			}
		}

		&::before {
			content: "";
			background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;
			width: 9rem;
			aspect-ratio: 1;
			transform: translate(-60%, -50%);

			@media screen and (max-width: $breakpoint_mobile) {
				width: 6rem;
				top: -1rem;
				left: 2.5rem;
			}
		}

		> h3 {
			margin-top: 0;
		}

		.wp-block-columns {

			@media screen and (max-width: $breakpoint_mobile) {
				margin-block-start: 0;
			}

			.wp-block-column:nth-child(2) {
				position: relative;

				figure {
					position: absolute;

					@media screen and (max-width: $breakpoint_mobile) {
						position: relative;
						max-width: 80%;
						margin: 0 auto;
					}
				}
			}

			.wp-block-column:nth-child(1) {
				padding: 0 2rem;

				@media screen and (max-width: $breakpoint_mobile) {
					padding: 0;
				}

				p:last-child {
					margin: 5rem 0 1rem;

					@media screen and (max-width: $breakpoint_mobile) {
						margin: 2rem 0;
					}
				}

				p.is-style-link {
					line-height: 1.6;
				}
			}
		}


		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			right: 4rem;
			left: -2rem;
			top: -2rem;
			bottom: -4rem;
			background-color: $color__yellow;

			@media screen and (max-width: $breakpoint_mobile) {
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}
		}

	}

}


.is-style-logo-botright,
.is-style-logo-botleft {
	position: relative;
	padding-bottom: 3.5rem;

	&::before {
		content: "";
		background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		bottom: -6rem;
		width: 9rem;
		aspect-ratio: 1;

		@media screen and (max-width: $breakpoint_mobile) {
			width: 5rem;
			bottom: -1.5rem;
		}
	}
}

.is-style-logo-botleft {

	&::before {
		left: 0;
		transform: translateX(-20%);
	}
}

.is-style-logo-botright {

	&::before {
		right: 0;
		transform: translateX(20%);
	}
}

.is-style-logo-topleft {
	position: relative;

	&::before {
		content: "";
		background: url(/wp-content/themes/GLF/assets/images/embleme-glf.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: -3rem;
		left: -4rem;
		width: 9rem;
		aspect-ratio: 1;

	}

	@media screen and (max-width: $breakpoint_mobile) {

		&::before {
			content: none;
		}
	}
}
