.hero-container {
	aspect-ratio: 100 / 22.5;

	position: relative;

	/* The image used */
	background-image: var(--background);

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top 66px left;
	background-repeat: no-repeat;
	background-size: contain;

	margin-top: 66px !important;

	.caption {
		position: absolute;
		bottom: -1.5rem;
		right: 2rem;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 8px;

		@media screen and (max-width: $breakpoint_mobile) {
			bottom: -1rem;
			right: 1.5rem;
		}
	}

	@media screen and (max-width: $breakpoint_mobile) {
		aspect-ratio: 2/1;
		background-position: top 66px center;
		background-size: auto calc(100vw / 2);
	}

}
