p.is-style-link {


	& > a {
		color: #5f5f5f;
		text-decoration: none;
		transition: all 0.2s ease;
		position: relative;
		font-weight: 700;

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			transform: translate(0.5rem, -50%);
			background-image: url(/wp-content/themes/GLF/assets/images/link-arrow.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 20px;
			height: 14px;
			transition: all 0.2s ease;
		}

		&:visited {
			color: #5f5f5f;
		}

		&:hover,
		&:active {
			color: #000;

			&::after {
				transform: translate(1rem, -50%);
				filter: brightness(0);
			}
		}
	}

	@media screen and (max-width: $breakpoint_mobile) {
		//max-width: calc(100% - 24px);

		& > a {
			font-size: 14px;

			&::after {
				top: unset;
				bottom: -4px;
			}
		}
	}
}

.custom-position-blog-link {
	position: absolute;
	bottom: 0.5rem;
	right: 26px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.ressource-card {

	p.is-style-link {
		color: #5f5f5f;
		text-decoration: none;
		transition: all 0.2s ease;
		position: relative;
		font-weight: 700;

		&::after {
			position: absolute;
			content: "";
			top: 50%;
			transform: translate(0.5rem, -50%);
			background-image: url(/wp-content/themes/GLF/assets/images/link-arrow.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 20px;
			height: 14px;
			transition: all 0.2s ease;

			@media screen and (max-width: $breakpoint_mobile) {
				top: unset;
				bottom: -4px;
			}
		}

		&:visited {
			color: #5f5f5f;
		}

		&:hover,
		&:active {
			color: #000;

			&::after {
				transform: translate(1rem, -50%);
				filter: brightness(0);
			}
		}
	}
}
