/* ul,
ol {
	margin: 0 0 1.5em 3em;
} */

ul {

	&.is-style-colorful-bulletpoint {

		padding-left: 18px;

		li {
			padding-left: 0.25rem;
			margin: 0.75rem 0;
		}

		li:nth-child(6n+1) {
			list-style-image: url(/wp-content/themes/GLF/assets/images/bulletpoint-1.png);

			&::marker {
				margin: 2rem;
			}
		}

		li:nth-child(6n+2) {
			list-style-image: url(/wp-content/themes/GLF/assets/images/bulletpoint-4.png);
		}

		li:nth-child(6n+3) {
			list-style-image: url(/wp-content/themes/GLF/assets/images/bulletpoint-5.png);
		}

		li:nth-child(6n+4) {
			list-style-image: url(/wp-content/themes/GLF/assets/images/bulletpoint-2.png);
		}

		li:nth-child(6n+5) {
			list-style-image: url(/wp-content/themes/GLF/assets/images/bulletpoint-3.png);
		}

		li:nth-child(6n+6) {
			list-style-image: url(/wp-content/themes/GLF/assets/images/bulletpoint-6.png);
		}
	}
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.post-tags-filters {
	text-align: center;

	a {
		color: #5f5f5f;
		text-decoration: none;
		font-size: 1.5rem;
		padding: 0 2.25rem;
		position: relative;
		transition: all 0.2s ease;

		&::after {
			content: "";
			width: 1px;
			height: 1px;
			background-color: transparent;
			position: absolute;
			left: 50%;
			transform: translate(0, -50%);
			bottom: 0;
			transition: all 0.2s ease;
		}

		&:not(:first-of-type)::before {
			content: "";
			width: 2px;
			height: 100%;
			background-image: url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash-small.svg);
			background-repeat: no-repeat;
			position: absolute;
			left: 0;
			top: 0;
		}

		&:hover {
			color: $color__black;

			&::after {
				background-color: $color__black;
				transform: translate(0, -50%) scaleX(30);
			}
		}

		&.active {
			color: $color__black;

			&::after {
				background-color: $color__black;
				transform: translate(0, -50%) scaleX(30);
			}
		}
	}
}

body .list-team {
	justify-content: center;
	gap: 3rem !important;
	margin-block-end: 5rem !important;

	> * {
		flex: none;
		flex-basis: auto !important;
		flex-grow: 0 !important;
		width: 100%;
		max-width: 208px;

	}

	+ hr {
		margin-block-end: 1.5rem !important;
	}

	@media screen and (max-width: $breakpoint_mobile) {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
