/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure {
	margin: 1em 0; // Extra wide images within figure tags don't overflow the content area.
	position: relative;

	&.is-style-caption-left {

		figcaption {
			position: absolute;
			bottom: 0;
			left: 0;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 8px;
			transform: translateY(calc(100% + 4px));
			margin: 0;
		}
	}

	&.is-style-caption-right {

		figcaption {
			position: absolute;
			bottom: -1.5rem;
			right: 0;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
			font-size: 8px;
		}
	}
}

.wp-block-social-links {
	margin-top: 0.75rem;
	gap: 1.5rem !important;

	li {
		position: relative;

		&:hover {
			transform: scale(1);

			svg {
				fill: $color__black !important;
			}

			&::after {
				background-color: rgba($color__white, 0.5);
				border-color: $color__black;
			}
		}

		a {

			svg {
				z-index: 1;
			}
		}

		&::after {
			z-index: 0;
			content: "";
			position: absolute;
			width: 140%;
			height: 140%;
			border: 1px solid #5f5f5f;
			border-radius: 2rem;
			top: -20%;
			left: -20%;
		}

		/* 							&.wp-social-link-facebook,
		&.wp-social-link-linkedin {
			padding: 4px 0;

			svg {
				height: 22px;
			}
		} */
	}
}
