.modaleContainer {
	opacity: 0;
	display: grid;
	place-items: center;
	z-index: 100;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba($color__black, 0.5);
	backdrop-filter: blur(4px);
	transition: opacity 0.3s ease;

	.modale {
		aspect-ratio: 16/9;
		background-color: rgba($color__white, 0.8);
		width: 80%;
		display: grid;
		place-items: center;
	}

	.modaleCloseBtn {
		position: absolute;
		top: 2rem;
		right: 2rem;
		line-height: 1;
		padding: 0.5rem 0.75rem;
		border-color: $color__black;
		background-color: rgba($color__white, 0.8);
		color: $color__black;

		&:hover {
			cursor: pointer;
			background-color: rgba($color__salmon, 0.8);
		}
	}
}

.zoom-image {
	cursor: pointer;
}
