blockquote {

	&.is-style-citation-right {
		border: none;
		position: relative;
		padding-left: 1.5rem;
		margin-left: 1rem;

		&.has-color-yellow-background-color {

			&::after {
				background-color: $color__yellow;
			}
		}

		&.has-color-salmon-background-color {

			&::after {
				background-color: $color__salmon;
			}
		}

		&.has-color-green-background-color {

			&::after {
				background-color: $color__green;
			}
		}

		&.has-color-lightgreen-background-color {

			&::after {
				background-color: $color__lightgreen;
			}
		}

		&.has-color-darkyellow-background-color {

			&::after {
				background-color: $color__darkyellow;
			}
		}

		&.has-color-blue-background-color {

			&::after {
				background-color: $color__blue;
			}
		}

		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			left: -30%;
			right: -2rem;
			top: -3rem;
			bottom: -4rem;
			background-color: $color__yellow;
		}

		&::before {
			content: "";
			width: 2px;
			height: 100%;
			background-image: url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);
			background-repeat: repeat-y;
			position: absolute;
			left: 0;
		}

		p {
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 24px;
			font-style: italic;
		}

		cite {
			position: absolute;
			right: 0;
			font-size: 1.5rem;
			font-weight: 700;
			bottom: -3rem;
		}

		@media screen and (max-width: $breakpoint_mobile) {
			position: initial;
			margin-bottom: 8rem;
			padding-left: 0;
			margin-left: 0;

			&::before {
				content: unset;
			}

			&::after {
				bottom: 3rem;
				top: -1rem;
				left: -1rem;
				right: -1rem;
			}

			p {
				font-size: 1rem;
				line-height: 1.2;
				border-left: dashed 2px $color__black;
				padding-left: 1rem;
			}

			cite {
				bottom: unset;
				font-size: 18px;
			}
		}
	}

	&.is-style-citation-left {
		border: none;
		position: relative;
		padding-left: 1.5rem;
		margin-left: 1rem;

		&.has-color-yellow-background-color {

			&::after {
				background-color: $color__yellow;
			}
		}

		&.has-color-salmon-background-color {

			&::after {
				background-color: $color__salmon;
			}
		}

		&.has-color-green-background-color {

			&::after {
				background-color: $color__green;
			}
		}

		&.has-color-lightgreen-background-color {

			&::after {
				background-color: $color__lightgreen;
			}
		}

		&.has-color-darkyellow-background-color {

			&::after {
				background-color: $color__darkyellow;
			}
		}

		&.has-color-blue-background-color {

			&::after {
				background-color: $color__blue;
			}
		}

		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			right: -30%;
			left: -2rem;
			top: -3rem;
			bottom: -4rem;
			background-color: $color__yellow;
		}

		&::before {
			content: "";
			width: 2px;
			height: 100%;
			background-image: url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);
			background-repeat: repeat-y;
			position: absolute;
			left: 0;
		}

		p {
			font-weight: 400;
			font-size: 1.25rem;
			font-style: italic;
			line-height: 24px;
		}

		cite {
			position: absolute;
			right: 0;
			font-size: 1.5rem;
			font-weight: 700;
			bottom: -3rem;
		}
	}

	// Smaill image
	&.is-style-citation-small-right {
		border: none;
		position: relative;
		padding-left: 1.5rem;
		margin-left: 2rem;
		margin-right: 6rem;


		&.has-color-yellow-background-color {

			&::after {
				background-color: $color__yellow;
			}
		}

		&.has-color-salmon-background-color {

			&::after {
				background-color: $color__salmon;
			}
		}

		&.has-color-green-background-color {

			&::after {
				background-color: $color__green;
			}
		}

		&.has-color-lightgreen-background-color {

			&::after {
				background-color: $color__lightgreen;
			}
		}

		&.has-color-darkyellow-background-color {

			&::after {
				background-color: $color__darkyellow;
			}
		}

		&.has-color-blue-background-color {

			&::after {
				background-color: $color__blue;
			}
		}

		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			left: -6rem;
			right: -2rem;
			top: -1.5rem;
			bottom: -4rem;
			background-color: $color__yellow;
		}

		&::before {
			content: "";
			width: 2px;
			height: 100%;
			background-image: url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);
			background-repeat: repeat-y;
			position: absolute;
			left: 0;
		}

		p {
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 24px;
			font-style: italic;
			margin-top: 0;
			padding-right: 4rem;
		}

		cite {
			text-align: right;

			&::first-line {
				font-size: 1.5rem;
				font-weight: 700;
				font-style: normal;
			}
			position: absolute;
			right: 0;
			font-size: 1rem;
			font-weight: 400;
			bottom: -3rem;
			font-style: italic;
			line-height: 1;
		}
	}

	&.is-style-citation-small-left {
		border: none;
		position: relative;
		padding-left: 1.5rem;
		margin-left: 8rem;

		&.has-color-yellow-background-color {

			&::after {
				background-color: $color__yellow;
			}
		}

		&.has-color-salmon-background-color {

			&::after {
				background-color: $color__salmon;
			}
		}

		&.has-color-green-background-color {

			&::after {
				background-color: $color__green;
			}
		}

		&.has-color-lightgreen-background-color {

			&::after {
				background-color: $color__lightgreen;
			}
		}

		&.has-color-darkyellow-background-color {

			&::after {
				background-color: $color__darkyellow;
			}
		}

		&.has-color-blue-background-color {

			&::after {
				background-color: $color__blue;
			}
		}

		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			right: -6rem;
			left: -2rem;
			top: -1.5rem;
			bottom: -4rem;
			background-color: $color__yellow;
		}

		&::before {
			content: "";
			width: 2px;
			height: 100%;
			background-image: url(/wp-content/themes/GLF/assets/images/vertical-stroke-dash.svg);
			background-repeat: repeat-y;
			position: absolute;
			left: 0;
		}

		p {
			font-weight: 400;
			font-size: 1.25rem;
			font-style: italic;
			line-height: 24px;
			margin-top: 0;
			padding-right: 4rem;
		}

		cite {
			text-align: right;

			&::first-line {
				font-size: 1.5rem;
				font-weight: 700;
				font-style: normal;
			}
			position: absolute;
			right: 0;
			font-size: 1rem;
			font-weight: 400;
			bottom: -3rem;
			font-style: italic;
			line-height: 1;
		}
	}
}

.wp-block-columns.is-style-citation-small {

	@media screen and (max-width: $breakpoint_mobile) {
		margin-bottom: 6rem;
		gap: 0;

		/* flex-wrap: nowrap !important;
		flex-direction: row !important;
		gap: 1rem;
		position: relative;
		margin: ;
		*/
		.wp-block-column[style*="flex-basis"] {
			flex-basis: 30% !important;
		}

		.is-style-citation-small-right {
			padding-left: 0;
			margin-left: 0;
			margin-right: 0;
			//position: initial;

			&::after {
				right: 0;
				left: -2rem;
				top: -1rem;
				bottom: -4rem;
			}

			cite {
				bottom: -3.5rem;
				right: 0.5rem;
			}

			p {
				padding-right: 1rem;
				padding-left: 1rem;
				margin-left: 1rem;
			}

			&::before {
				left: 1rem;
			}
		}

		.is-style-citation-small-left {
			padding-left: 0;
			margin-left: 0;
			margin-right: 0;
			//position: initial;
			&::before {
				left: 1rem;
			}

			&::after {
				left: 0;
				right: -2rem;
				top: -1rem;
				bottom: -4rem;
			}

			cite {
				bottom: -3.5rem;
				right: -1rem;
			}

			p {
				padding-right: 1rem;
				padding-left: 1rem;
				margin-left: 1rem;
			}
		}
	}
}
