hr {


	&.is-style-leaf-sep {
		width: 44rem !important;
		height: 2rem;
		background: url(/wp-content/themes/GLF/assets/images/sep-leaf.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border: none;
		max-width: none;
		@media screen and (max-width: $breakpoint_mobile) {
			background-image: url(/wp-content/themes/GLF/assets/images/sep-leaf-mob.svg);
		}
	}

	&.is-style-noleaf-sep {
		width: 44rem !important;
		height: 2rem;
		background: url(/wp-content/themes/GLF/assets/images/sep-noleaf.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		border: none;
		max-width: none;
	}

	&.is-style-logo-sep {
		width: 44rem !important;
		height: 8rem;
		background: url(/wp-content/themes/GLF/assets/images/sep-logo.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border: none;
		max-width: none;
		margin-bottom: 1rem;

		@media screen and (max-width: $breakpoint_mobile) {
			height: 5rem;
		}
	}

	@media screen and (max-width: $breakpoint_mobile) {

		&.is-style-leaf-sep,
		&.is-style-noleaf-sep,
		&.is-style-logo-sep {
			width: calc(100% - 3rem) !important;
		}
	}
}
