
.entry-content > *,
.entry-header > *,
aside > * {
	max-width: $aligndefault;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: $alignwide;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	max-width: $alignfull;
	margin-left: auto;
	margin-right: auto;
}

main .entry-content > *,
.archive .entry-content > *,
.single .entry-content > * {
	margin-block-start: 3.5rem;
	margin-block-end: 3rem;

	@media screen and (max-width: $breakpoint_mobile) {
		//margin-block-start: 2rem;
		//margin-block-end: 2rem; 
	}

	+ * {
		margin-block-start: 0;
		margin-block-end: 3rem;

		@media screen and (max-width: $breakpoint_mobile) {
			margin-block-end: 1.5rem;
		}
	}

	/* 	&:first-of-type {
		margin-block-start: 66px;
	} */
}

.home .postContainer {
	padding-bottom: 4rem;
}

.postContainer {

	@media screen and (max-width: $breakpoint_mobile) {
		display: flex;
		flex-direction: column;
	}
	position: relative;
	max-width: 1000px !important;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;

	&.artistesContainer {
		grid-template-columns: repeat(4, 1fr);

		@media screen and (max-width: $breakpoint_mobile) {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
}

.wp-block-columns {

	@media screen and (max-width: $breakpoint_mobile) {
		position: relative;
	}

	&.is-style-demarche {
		max-width: 1100px !important;
		gap: 2.5rem;

		@media screen and (max-width: $breakpoint_mobile) {

			* {
				text-align: center !important;
			}
		}
	}
}

.wp-block-spacer {
	margin-block-start: 0 !important;
	margin-block-end: 0 !important;
	margin: 0 auto !important;
}

.no-top-margin {
	margin-top: 0 !important;
	margin-block-start: 0 !important;
}

@media screen and (max-width: $breakpoint_mobile) {

	body .wp-block-columns {
		gap: 2.5rem;

		&.reverse-mobile {

			.wp-block-column {

				> h2 {
					margin-top: 0.5rem;
				}

				&:first-child {
					order: 2;
				}

				&:last-child {
					order: 1;
				}
			}
		}
	}

	.wp-site-blocks {

		> main > .entry-content {

			& > *:not(.wp-block-separator) {
				padding-right: 1.5rem;
				padding-left: 1.5rem;
			}
		}
	}

	.archive .wp-site-blocks {

		.entry-content {

			& > *:not(.wp-block-separator) {
				padding-right: 1.5rem;
				padding-left: 1.5rem;
			}
		}
	}

	.single .wp-site-blocks {

		.entry-content {

			& > *:not(.wp-block-separator) {
				padding-right: 1.5rem;
				padding-left: 1.5rem;
			}
		}
	}
}

@media screen and (max-width: $breakpoint_mobile) {

	*:where(.wp-block-group.has-background) {
		padding: 1rem 1.5rem;
	}
}
