// stylelint-disable value-keyword-case
$font__main: Carlson ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
// stylelint-enable value-keyword-case
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@font-face {
	font-family: Icons;
	src: url(/wp-content/themes/GLF/assets/fonts/burger.woff) format("woff");
	font-weight: 400;
}


@font-face {
	font-family: Carlson;
	src: url(/wp-content/themes/GLF/assets/fonts/Caslon224Std-Bold.woff2) format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: Carlson;
	src: url(/wp-content/themes/GLF/assets/fonts/Caslon224Std-Book.woff2) format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: Carlson;
	src: url(/wp-content/themes/GLF/assets/fonts/Caslon224Std-MediumItalic.woff2) format("woff2");
	font-weight: 400;
	font-style: italic;
}
